@{
    ViewData["Title"] = Model.Name;
}
@model StoreViewModel

<section class="information-shop-section">
    <div class="bg-white shadow-sm">
        <div class="container d-flex">

            <div class="my-4">
                <figure class="shop-single-figure">
                    <img src="@Model.ImageProfile" class="shop-single-img">
                </figure>
            </div>

            <div class="mx-4 mt-5">
                <h3 class="font-weight-bold">@Model.Name</h3>
                <div class="mt-3 text-muted">@Model.Category.Name</div>
                <div class="d-inline-block mt-3">

                    <div class="mb-3 border-left-0 border-right d-inline-block">
                        <span class="sp-icon text-muted"><i class="fas fa-map-marker-alt"></i></span>
                        <p class="mr-3 ml-0 d-inline-block text-muted">
                            
                            @Model.Address
                        </p>
                    </div>
                    <div class="mb-3 border-left-0 border-right d-inline-block">
                        <span class="sp-icon text-muted"><i class="fas fa-phone"></i></span>
                        <p class="mr-3 ml-0 d-inline-block text-muted">
                            @(string.IsNullOrEmpty(Model.Tel) ? "...." : Model.Tel )
                        </p>
                    </div>
                    <div class="mb-3 border-left-0 border-right d-inline-block">
                        <span class="sp-icon text-muted"><i class="fas fa-clock"></i></span>
                        <p class="mr-3 ml-0 d-inline-block text-muted">
                            @(string.IsNullOrEmpty(Model.WorkingHours) ? "...." : Model.WorkingHours )
                        </p>
                    </div>
                    <div class="mb-3 border-left-0 border-right d-inline-block">
                        <span class="sp-icon text-muted"><i class="fas fa-camera-retro"></i></span>
                        <p class="mr-3 ml-0 d-inline-block text-muted">
                            @(string.IsNullOrEmpty(Model.VirtualTour) ? "تور مجازی" : Model.VirtualTour)
                        </p>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>

<div class="container-fluid px-md-5 py-4">
    <div class="d-block  w-100 d-sm-flex justify-content-around position-relative">

        <div class="list-floors store-right-bar">

            <div class="bg-white rounded shadow-sm">
                <span class="right-bar-title">محصولات</span>
                <ul class="footer-link-ul">
                    <li class="footer-link-li"> <a class="footer-a" href="#">ثبت نام در کالابین</a> </li>
                    <li class="footer-link-li"> <a class="footer-a" href="#">مدیریت فروشگاه</a> </li>
                    <li class="footer-link-li"> <a class="footer-a" href="#">جستجو مشاغل</a> </li>
                    <li class="footer-link-li"> <a class="footer-a" href="#">ایجاد فروشگاه</a> </li>
                </ul>
            </div>

            <div class="my-4">
                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-map-marker-alt"></i></span>
                    <p class="mx-2 d-inline-block">@Model.Address</p>
                </div>
                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-phone"></i></span>
                    <p class="mx-2 d-inline-block">@Model.Tel</p>
                </div>
                <div class="mb-3">
                    <span class="sp-icon"><i class="fas fa-clock"></i></span>
                    <p class="mx-2 d-inline-block">@Model.WorkingHours</p>
                </div>
            </div>

            <div class="my-4">
                <span class="right-bar-title border-0 p-0">درباره فروشگاه</span>
                <div class="mt-2">
                    <p>@Model.Description</p>
                </div>
            </div>

            <div class="my-3">
                <ul class="icon-social">
                    <li>
                        <a href="https://t.me/@Model.Telegram" target="_self">تلگرام</a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/@Model.Instagram" target="_blank">اینستاگرام</a>
                    </li>
                </ul>
            </div>

            @*<div class="my-3">
                <span class="d-inline-block" style="color: #fb8c6b;">1978</span>
                <p class="d-inline-block text-muted mx-2">بازدید</p>
            </div>*@

        </div>

        <div class="shop-centers store-page">
            <div class="row">
                @if (Model.Products != null && Model.Products.Count > 0)
                {
                    @foreach (ProductViewModel product in Model.Products)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="item-cat-prod shopping-center-div">
                                <figure class="position-relative">
                                    <a href="#">
                                        <img src="@product.ImageListPath" class="rounded-top img-fluid w-100" />
                                    </a>
                                </figure>
                                <div class="p-3 position-relative">
                                    <h3><a href="#" class="border-0 pb-0">@product.Name</a></h3>
                                    <div style="color: #b5b8be;">
                                        <span style="color: #43bc55;">@product.FormattedPrice</span>تومان
                                    </div>

                                    <a href="#" class="shopping-center-more">
                                        <span>
                                            <i class="fal fa-angle-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p class="text-center">
                        کالایی وجود ندارد
                    </p>
                }
            </div>
        </div>
    </div>
</div>