@{
    ViewData["Title"] = "مجتمع های تجاری";
}
@model ShoppingCenterDeatailViewModel

<section>
    <div class="shop-single-banner bg-image">
        <div class="container d-flex">

            <div class="d-inline-block-  mt-5">
                <figure class="shop-single-figure">
                    <img src="@Model.ImagePath" class="shop-single-img">
                </figure>
            </div>

            <div class="d-inline-block- text-white mx-4 mt-5">
                <h3>@Model.ShoppingCenterDeatails.Name</h3>
                <div class="mt-4">
                    @Model.ShoppingCenterDeatails.Description
                </div>
                <div class="d-inline-block mt-4">
                    <div class="shop-single-number mb-2">
                        <span class="Count">@Model.ShoppingCenterDeatails.Stores.Count</span>
                        <span class="px-2">فروشگاه</span>
                    </div>
                    <div class="shop-single-number mx-2 mb-2">
                        <span class="Count">@Model.ShoppingCenterDeatails.Floors.Count</span>
                        <span class="px-2">طبقه</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

<div class="container-fluid bg-white px-md-5 shadow-sm">
    <section class=" py-3">
        <div class="row">

            <div class="col-12 col-md-4">
                <div class="">

                    <div class="mb-3">
                        <span class="sp-icon"><i class="fas fa-map-marker-alt"></i></span>
                        <p class="mx-2 d-inline-block">@Model.ShoppingCenterDeatails.Address</p>
                    </div>
                    <div class="mb-3">
                        <span class="sp-icon"><i class="fas fa-phone"></i></span>
                        <p class="mx-2 d-inline-block">@Model.ShoppingCenterDeatails.Tel</p>
                    </div>
                    <div class="mb-3">
                        <span class="sp-icon"><i class="fas fa-clock"></i></span>
                        <p class="mx-2 d-inline-block">@Model.ShoppingCenterDeatails.WorkingHours</p>
                    </div>
                    <div class="mb-3">
                        <span class="sp-icon"><i class="fas fa-camera-retro"></i></span>
                        <p class="mx-2 d-inline-block">@Model.ShoppingCenterDeatails.InstagramUrl</p>
                    </div>
                    <div class="mb-3">
                        <span class="sp-icon"><i class="fas fa-link"></i></span>
                        <p class="mx-2 d-inline-block">@Model.ShoppingCenterDeatails.WebsiteUrl</p>
                    </div>

                </div>
            </div>

            <div class="col-12 col-md-4 services-shop-center">
                <div class="row border-left">
                    @if (Model.Services != null || Model.Services.Count > 0)
                    {
                        foreach (var item in Model.Services)
                        {
                            <div class="col-4">
                                <div class="d-inline-block mb-3">
                                    <img src="images/temp/1414.png" />
                                </div>
                                <div class="d-inline-block">
                                    @switch (int.Parse(item))
                                    {
                                        case 1:
                                            <span>شهر بازی</span>
                                            break;
                                        case 2:
                                            <span>کافی شاپ</span>
                                            break;
                                        case 3:
                                            <span>پارکینگ</span>
                                            break;
                                        case 4:
                                            <span>سرویس بهداشتی</span>
                                            break;
                                        case 5:
                                            <span>آسانسور</span>
                                            break;
                                        case 6:
                                            <span>اینترنت</span>
                                            break;
                                        default:
                                            break;
                                    }
                                </div>
                            </div>
                        }
                    }
                </div>
            </div>

            <div class="col-12 col-md-4">
                <div>
                    @*<a href="#">
            <img src="images/temp/map1414.png" class="w-100 img-fluid rounded" />
        </a>*@
                    <!--Google map-->
                    <div id="map-container-google-2" class="z-depth-1-half map-container" style="height: 500px">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3214.5360722134737!2d59.57561691527662!3d36.32355558004953!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMzbCsDE5JzI0LjgiTiA1OcKwMzQnNDAuMSJF!5e0!3m2!1sen!2sfr!4v1630510623458!5m2!1sen!2sfr" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe><iframe src="https://goo.gl/maps/mYDHW9TsEW9nMCUg8" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>

                    <!--Google Maps-->
                </div>
            </div>

        </div>
    </section>
</div>

<div class="container-fluid px-md-5 py-4">
    <div class="w-100 d-flex justify-content-around position-relative">

        <div class="list-floors">
            <ul>
                @foreach (var item in Model.ShoppingCenterDeatails.Floors)
                {
                    <li>
                        <a href="#">
                            <div class="store-number shadow-sm">
                                <span class="Count">@item.Stores.Count</span>
                                <span class="store-name">@item.Name</span>
                            </div>
                        </a>
                    </li>
                }
            </ul>
        </div>

        <div class="shop-centers">
            <div class="row">

                @if (Model.StoreModels == null || Model.StoreModels.Count <= 0)
                {
                    <h5>داده ای موجود نیست</h5>
                }
                else
                {
                    foreach (var item in Model.StoreModels)
                    {
                        <div class="col-12 col-md-6 col-lg-4">
                            <div class="item-cat-prod shopping-center-div">
                                <figure class="position-relative">
                                    <a href="#">
                                        <img src="@item.ImageListPath" class="rounded-top img-fluid w-100" />
                                        <div class="store-number">
                                            <span class="store-name">%20 تخفیف</span>
                                        </div>
                                    </a>
                                </figure>
                                <div class="p-3 position-relative">
                                    <h3><a href="#" class="border-0 pb-0">@item.Name</a></h3>
                                    <div>@item.Category.Name</div>

                                    <a href="#" class="shopping-center-more d-inline">
                                        <span>
                                            <i class="fal fa-angle-left"></i>
                                        </span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>

    </div>
</div>